div.progress {
	display: block;
	height: 22px;
	padding: 0;
	min-width: 200px;
	margin:4px 0;
	background-color: #DEDEDE;
	background: -moz-linear-gradient(top, #ccc, #e9e9e9);
	background: -webkit-gradient(linear, left top, bottom, #ccc, #e9e9e9);
}
div.progress, div.progress span {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
div.progress span {
	display: block;
	margin-top: -10px;
	padding: 0;
	text-align:center;
	width:0;
	-moz-box-shadow:1px 0 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:1px 0 1px rgba(0, 0, 0, 0.2);
	box-shadow:1px 0 1px rgba(0, 0, 0, 0.2);
}
div.progress span b{
	color:#fff;
	line-height:22px;
	padding-left:2px;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
}

.progress-blue span {
	background-color: #5C9ADE;
	background: -moz-linear-gradient(top, #6C92DC 10%, #395FA8 90%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.1, #6C92DC), color-stop(0.9, #395FA8));
}
.progress-green span {
	background-color: #77AF3F;
	background: -moz-linear-gradient(top, #8FC857 10%, #5C9425 90%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.1, #8FC857), color-stop(0.9, #5C9425));
}
.progress-red span {
	background-color: #C44747;
	background: -moz-linear-gradient(top, #DD5F5F 10%, #A92C2C 90%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.1, #DD5F5F), color-stop(0.9, #A92C2C));
}